* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b5ffdf;
  font-family: "Open Sans", sans-serif;
}

header,
footer {
  display: flex;
  justify-content: space-around;
  height: 10vh;
  background-color: #57b38b;
}

h1 {
  color: #66281e;
  margin: 0.5em 0;
}

.head-title {
  color: white;
  width: 70%;
  margin: auto;
  text-align: center;
  font-size: 2.5em;
}

.navLinks {
  width: 30%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: auto 0;
}

a {
  color: #66281e;
  /* text-decoration: none; */
}

.navLinks a {
  color: #66281e;
  text-decoration: none;
  padding: 4px;
}

.activeLink {
  border: black 2px solid;
  border-radius: 10%;
}

/*

Background "Splash" Image:
by Shridhar Gupta on Unsplash
https://unsplash.com/photos/dZxQn4VEv2M

*/
.splash {
  background-image: url(./assets/coworking-splash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 45vh;
}

.content {
  margin: 2em 4em;
}

.foot-left {
  margin: auto 0;
}

.foot-right {
  margin: auto 0;
}

.foot-right ul {
  list-style: none;
}

.btn {
  padding: 3px;
  background-color: #36b5e3;
}

.btnRed {
  padding: 3px;
  background-color: #b33c29;
  color: white;
}

button {
  margin: 1px;
  padding: 2px;
  border: 1px solid darkslategrey;
  border-radius: 2px;
  background-color: #e6f3ff;
}

button:hover {
  cursor: pointer;
}

form {
  width: 35%;
}

.formLine {
  display: flex;
  justify-content: space-between;
  margin: 0.5em;
}

input {
  border: grey 1px solid;
  background-color: #e7fff5;
  box-shadow: none;
  padding: 0 2px;
}

input:disabled {
  background-color: #a8ffd9;
}

input:focus {
  outline: rgb(102, 151, 241) solid 2px;
  border: rgb(102, 151, 241) solid 1px;
  background-color: white;
}

table,
th,
td {
  border: solid 1px grey;
  border-collapse: collapse;
  overflow: hidden;
  background-color: #98ecc8;
}

th,
td {
  padding: 5px;
}

.userNameDisplay {
  margin: auto 1em;
}

.popUp {
  position: fixed;
  height: 100vh;
  width: 100vw;
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
}
.popUp div {
  margin: auto 0;
}

.popClose {
  position: fixed;
  top: 25vh;
  right: 20vw;
  height: 40px;
  width: 40px;
  background-color: white;
  color: #000000;
  font-size: 20px;
  text-align: center;
  border-radius: 25%;
}
.popClose div {
  margin: 6px 0;
}
.popClose:hover {
  background-color: lightgrey;
  cursor: pointer;
}
#popMsg {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1em;
  border-radius: 10px;
}
.popUpHide {
  display: none;
}
