* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #b5ffdf;
  font-family: "Open Sans", sans-serif;
}

header,
footer {
  display: flex;
  justify-content: space-around;
  height: 10vh;
  background-color: #57b38b;
}

h1 {
  color: #66281e;
  margin: 0.5em 0;
}

.head-title {
  color: white;
  width: 70%;
  margin: auto;
  text-align: center;
  font-size: 2.5em;
}

.navLinks {
  width: 30%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: auto 0;
}

a {
  color: #66281e;
  /* text-decoration: none; */
}

.navLinks a {
  color: #66281e;
  text-decoration: none;
  padding: 4px;
}

.activeLink {
  border: black 2px solid;
  border-radius: 10%;
}

.splash {
  background-image: url(./assets/coworking-splash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 45vh;
}

.content {
  margin: 2em 4em;
}

.foot-left {
  margin: auto 0;
}

.foot-right {
  margin: auto 0;
}

.foot-right ul {
  list-style: none;
}

.btn {
  padding: 3px;
  background-color: #36b5e3;
}

.btnRed {
  padding: 3px;
  background-color: #b33c29;
  color: white;
}

form {
  width: 35%;
}

.formLine {
  display: flex;
  justify-content: space-between;
  margin: 0.5em;
}

table,
td {
  border: black solid 1px;
}

th,
td {
  padding: 5px 10px;
}

.userNameDisplay {
  margin: auto 1em;
}
